html {
    height:100%;
    display: flex;
}
body {
    margin: 0 !important;
    padding: 0 !important;
    background-color: #f9fce9e5;
}
header {
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin-top: 0;
    background-image: url("festa.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px -65px;
    height: 100vh;
    width: 98vw;
}

h2 {
    color: brown;
}

#menu {
    background-color: #F1EDDE;
    width: 98vw;
    height: 65px;
}

#menu a {
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    margin-right: 10px;
    color: rgb(59, 58, 59);
    text-decoration: none;
    border-radius: 5px;
    margin: 5px;
    font-size: large;
}

#menu a:hover {
    background-color: white;
    color: rgb(59, 58, 59);
    text-decoration: none;
    border-radius: 5px;
    margin: 5px;
    font-size: large;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

thead {
    background-color: black;
    color: white;
}

td,th {
    text-align: left;
    padding: 5px;
}

#ingresso td:nth-child(2)  {
    text-align: right;
}

tbody tr:nth-child(even) {
    background-color: rgb(228, 224, 224);
}

tbody tr:nth-child(odd) {
    background-color: white;
}

table {
    border-spacing: 0;
}

section {
    padding: 30px;
}

article {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.comida {
    padding-bottom: 5px;
}

.comida > .linha {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.linha > .valor {
    font-size: large;
    color: rgb(153, 112, 8);
    font-weight: 700;
}

.comida > .titulo {
    font-size: large;
    color: rgb(153, 112, 8);
    font-weight: 700;
}

.cardapio {
    width: 500px;
}

footer {
    padding: 25px;
    background-color: #ccc4a6;
    border: #ccc4a6 solid 1px;
    text-align: center;
}